/* shared style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    font-weight: semi-bold;
    background-color: #30B868;
    width: 160px;
    height: 40px;
    padding:12px 16px;
    border-radius: 4px;
}

/* main style */


header{
    background-color: #FFFFFF;
    padding-top: 15px;
    /* background-image: url(../assets/hero-bg.png);
    margin-top: 50px; */
}

nav{
    display:flex;
    justify-content: space-around;
}

nav ul{
    text-decoration: none;
    list-style: none;
   
}

nav ul a{
    text-decoration: none;
    color: black;
   
}


nav ul li{
    display: inline-block;
    
}

.list-items{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}



